body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(45deg, rgb(69, 74, 77), rgb(73, 123, 121), rgb(65, 111, 146), rgb(41, 159, 151))
}

.calculadora{
    background: #ccc;
    width: 230px;
    margin: 0, auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 38%;
    top: 15%;
}

input[type="button"]{
    width: 39px;
    height: 39px;
    font-size: 28px;
    margin: 5px;
    cursor: pointer;
}
label{
    font-size: 30px;
}

.textos input{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
    width: 80%;
}

footer{
    display:flex;
    position: fixed;
    left: 42%;
    top: 90%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: bold;
}


.linkedin{
    order: 1;
    margin-right: 8px;
}

p{
    order: 2;
    color: #ffffff;
    text-shadow: 2px 2px 2px #090;
}

.github{
    order: 3;
    margin-left: 8px;
}

.imagenes-footer{
    width: 30px;
    margin-top: 1px;
}
